<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/cayman.css">

  <link rel="icon" type="image/png" href="/graphics/favicon-32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/graphics/favicon-16.png" sizes="16x16" />
  <link rel="apple-touch-icon-precomposed" href="/graphics/favicon-152.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/path/to/favicon-152.png">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.1/svg.js"></script>

<!-- https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.1/svg.min.js -->

</head>
