<nav>
  <ul class="primary">
    <li>
      <a href="/" style="line-height: 1.0; padding-top:10px; padding-bottom:6px;">
        <img src="/graphics/KITE_X_Logo_ICON_RGB_White.svg" width="22" height="22" />
      </a>
    </li>

    <li>
      <a href="/products">Products</a>
    </li>
    <li>
      <a href="/photos">Photos</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/prototypes">Airborne</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/kitex." style="line-height: 1.0; padding-top:10px; padding-bottom:6px;">
        <img src="/graphics/LinkedInIconWhite.svg" width="22" height="22" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/KiteX.tech" style="line-height: 1.0; padding-top:10px; padding-bottom:6px;">
        <img src="/graphics/FacebookIconWhite.svg" width="22" height="22" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/kitextech" style="line-height: 1.0; padding-top:10px; padding-bottom:6px;">
        <img src="/graphics/TwitterIconWhite.svg" width="22" height="22" />
      </a>
    </li>
  </ul>
</nav>

<div id="variableNavSpacer"></div>