<nav>
  <ul class="primary">
    <li>
      <a href="/" style="line-height: 1.0; padding-top:10px; padding-bottom:6px;">
        <img src="/graphics/icon.svg" width="22" height="22" />
      </a>
    </li>

    <li>
      <a href="/#wind-catcher-link">Wind Catcher</a>
    </li>
    <li>
      <a href="/photos">Photos</a>
    </li>
    <li>
      <a href="/#contact-link">Contact</a>
    </li>
    <li>
      <a href="https://thehub.dk/jobs/company/kitex">Careers</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/prototypes">Prototypes Airborne</a>
    </li>
    <li>
      <a href="/critical-questions">FAQ Airborne</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/kitex.">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.facebook.com/KiteX.tech">Facebook</a>
    </li>
  </ul>
</nav>
